body {background-color: #0a0f2b;}

#name {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: monospace;
  font-size: 18px;
  color: #008000;
}

#middleName {
    position: fixed;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #008000;
}