body {
  background-color: #4A6FA5;
}

#name {
  top: 20px;
  left: 20px;
  font-family: monospace;
  font-size: 25px;
  color: #0B0F2F;
}

#name a:link {
  color: #0B0F2F;
  text-decoration: none;
}

#name a:visited {
  color: #0B0F2F;
  text-decoration: none;
}

#middleName {
  margin-top: 300px;
  text-align: center;
  font-size: 50px;
  color: #0B0F2F;
  white-space: nowrap;
  font-family: monospace;
}

#project-title {
  margin-top: 50;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  color: #0B0F2F;
}

#projects {
  text-align: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  color: #ffffff;
  display: inline-block;
  margin: 2px;
  background-color: #0B0F2F;
  border: 3px solid #0B0F2F;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  transition: transform 0.3s;
}

.card-image {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
  transform-origin: center;
}

.card:hover .card-title {
  transform: scale(1.1);
}

.card:hover .card-image img {
  transform: scale(1.1);
}

.card a:link {
  color: #ffffff;
  text-decoration: none;
}

.card a:visited {
  color: #ffffff;
  text-decoration: none;
}