body {
  background: #1a191d;
}


#name {
  top: 20px;
  left: 20px;
  font-family: monospace;
  font-size: 25px;
  color: #66d9ed;
}

#name a:link {
  color: #66d9ed;
  text-decoration: none;
}

#name a:visited {
  color: #66d9ed;
  text-decoration: none;
}

#middleName {
  margin-top: 200px;
  text-align: center;
  font-size: 150px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

#title {
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  white-space: nowrap;
  font-family: monospace;
  font-family: 'Roboto Mono', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

#skills {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
}

#skills img {
  width: 30px;
  height: 40px;
}

#skills img.square-logo {
    width: 37px;
    height: 37px;
}

#project-title {
  margin-top: 50px;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

#projects {
  text-align: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  color: #ffffff;
  display: inline-block;
  margin: 5px;
  background-color: #201f23;
  border: 3px solid #201f23;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  transition: transform 0.3s;
  font-family: 'Poppins', sans-serif;
}

.card-image {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
  transform-origin: center;
}

.card:hover .card-title {
  transform: scale(1.1);
}

.card:hover .card-image img {
  transform: scale(1.1);
}

.card a:link {
  color: #ffffff;
  text-decoration: none;
}

.card a:visited {
  color: #ffffff;
  text-decoration: none;
}